[2017-11-06 20:45] divega opened #2 "Perf baseline: Figure what to use for SQL Server"
A baseline is an easily to setup benchmark that is known to reflect near optimal performance on any given environment. As an example, for PostgreSQL we can run some queries using pgbench.

We will use these baselines to get an idea of how far or close the .NET results are from being satisfactory with each database.

[2017-11-06 20:59] divega opened #3 "Incremental improvements to Npgsql"
@damageboy, @roji and @anpete have been discussing and looking possible changes to Npgsql as well as modifying the benchmark code to try to get better performance(see https://github.com/npgsql/npgsql/commit/c153d2772f9392851922e87b3f989031a152410b, [insert a reference to "whole command caching"], and https://gist.github.com/damageboy/556ece30cf2368212773381ec01a8c06).

The results so far seem very

[2017-11-06 21:00] divega commented on #3
@damageboy @roji are you cool with moving the conversation here? If yes, could you please summarize the current state of things?

[2017-11-06 21:17] divega opened #4 "Idea: fast data access APIs from the ground up"
We have had some discussions about ADO.NET APIs possibly containing fundamental design issues that would prevent ever achieving the best performance.

For now just creating a placeholder issue here: we actually don't know that this is true and we don't know exactly what other API would be better, but we have some ideas...

[2017-11-06 21:20] divega opened #5 "Idea: better low level networking code"
We have some ideas that we want to try, which involve giving low-level networking for ADO.NET providers a similar treatment to what we have Kestrel before.

@davidfowl (and @anpete?) volunteered to do some experimentation with PostgreSQL.

[2017-11-06 21:21] divega commented on #5
@davidfowl, @anepe could you please detail a bit more (and better) what you had in mind here?

[2017-11-06 21:23] divega opened #6 "Idea: in-memory/fixed ADO.NET provider"
This is something that came up in brainstorming and is related to https://github.com/aspnet/DataAccessPerformance/issues/4. The assumption is that if it is true that ADO.NET has fundamental design issues then it should be possible to measure the impact of it in a very simple ADO.NET provider that doesn't do much but just always return the same fixed results (e.g. the TechEmpower Fortunes data set)

[2017-11-06 21:35] davidfowl commented on #5
@roji I'd like to get a good idea of the threading model and buffering strategy you chose for Npgsql. That'll help with my mental model (I'd like to do some experiments with pipelines).

[2017-11-06 23:07] divega commented on #2
cc @geleems

[2017-11-06 23:22] divega commented on #5
@davidfowl are you actively working on this?

[2017-11-06 23:30] divega opened #7 "Test other ADO.NET providers"

[2017-11-06 23:59] divega opened #8 "Meeting notes for 11/6/2017"
- We have repo! @sebastienros  is going to initialize it with the console benchmark code an .gitignore file (we may want to take the changes in @damageboy's fork, as long as the tricks used there may have an impact on any ADO.NET provider).
- On the Npgsql front @roji and @damanageboy have been getting some good results in their benchmarks and at this point some numbers look quite similar to pgben

[2017-11-07 04:25] roji commented on #5
@davidfowl it's great to be having this conversation with you guys. Below are some notes on Npgsql works, please don't hesitate to ask more questions.

# Synchronization

* The only major point where synchronization is currently necessary is the connection pool, which is invoked when `NpgsqlConnection.Open()` and `NpgsqlConnection.Close()` are called and which is responsible for assigning a physic

[2017-11-07 04:58] roji commented on #3
Hey @divega, great to see things moving along.

Optimization efforts are currently taking place in [Npgsql's dev branch](https://github.com/npgsql/npgsql), which will be released as 3.3.

* Remove some needless allocations in https://github.com/npgsql/npgsql/pull/1689 (based on @anpete's suggestion in https://github.com/npgsql/npgsql/pull/1688. Already merged into dev.
* Command-level caching (htt

[2017-11-07 04:59] roji commented on #3
@damageboy, maybe it's a good idea to post the latest performance run figures you got.

[2017-11-07 08:05] davidfowl commented on #5
No, it's on my (now shorter) list of things to look at. I'm looking at using minimal code to build a simple postgres driver based on a protocol spec that @mikeharder shared a while back. Basically a single query with results to benchmark some of the patterns.

@roji Is something like this interesting for npgsql?

[2017-11-07 08:21] roji commented on #5
@davidfowl do you mean building a non-ADO.NET driver for PostgreSQL, possibly non-managed (i.e. based on libpq)? Or just an attempt to build things properly from the ground up to see where it leads?

Npgsql is obviously a fully managed ADO.NET driver, but of course anything you do in terms of PostgreSQL connectivity interests me - you're also welcome to ask me questions, I've had a lot of experien

[2017-11-07 08:29] damageboy commented on #3
Hi all,

Here's where we are performance on the latest iteration of the benchmarks:

# Physical setup

I ran the benchmarks on two physical machines:

I ran this ugly thing to get an overall glimpse of these machines:
[code]

## Client machine info/stats:
[code]

## Server machine info/stats:
[code]

## Postgres version:
`dpkg -l | grep postgres`:
[code]

# Benchmark Code

I took @sebastienros ben

[2017-11-07 08:46] davidfowl commented on #5
This. I wasn't thinking about going as far as building an entire driver. The end goal would be to improve npgsql. The idea is to write a minimal low level API that does the working and protocol so we can focus on things like buffering, IO, async and threading models. Ideally we'd take a very simple query and write the simplest code possible then build up from there. I'd also like to see this examp

[2017-11-07 10:07] roji commented on #5
So yeah, I'm absolutely interested... Feel free to reach out if any questions arise during implementation. Note that at the moment Npgsql doesn't really have a low-level layer internally which can be easily separated from an higher-level ADO.NET layer - that was more an idea for the future.

[2017-11-07 10:16] damageboy commented on #8
Hi, I've pushed my (latest) forked benchmarks to:

https://github.com/damageboy/benchmarkdb

[2017-11-10 06:02] roji commented on #5
Great, once you push something I'll definitely take a look - it'll be interesting to compare with Npgsql.

On my side I'm working on bringing the dev branch back to working order (there are some pending issues) and then the plan is to implement command-level caching (https://github.com/npgsql/npgsql/issues/1701), which will provide quite a substantial boost.

[2017-11-14 00:51] divega opened #10 "Meeting notes 11/13/2017"
_Attendees: @anpete, @divega, @geleems, @sebastienros, @vancem_

In today's meeting @vancem described an investigation the did several months ago of the TechEmpower Fortunes benchmark using SqlClient. Thanks for all the great information!

Here is a summary of his findings:

We are CPU bound.   Thus it is about removing CPU overhead.

### Recommendation:

1.	More efficient building of HTML string.

[2017-11-15 11:26] mgravell opened #14 "API consideration ExecuteAsync"
Some initial thoughts; not sure if I should log these individually or whether this is fine, but:

- not sure how well it works for non-query and multi-grid query scenarios
- the factory approach as illustrated by `Execute_success()` with the list add in the factory precludes non-buffered data streams; really feels like the primary API should expose something more akin to async-enumerable (or a spo

[2017-11-15 12:17] mgravell commented on #14
after some thought, I wonder whether returning something akin to `IDataReader` but backed by the new impl is frankly simpler and more flexible...

[2017-11-15 18:28] anpete commented on #14
@mgravell Excellent points. Thanks for taking the time to put this together.

This code shouldn't be considered any kind of API proposal and I agree completely that it is terrible! 😄 Right now, this is just an experiment (unfinished) we put together to help us establish a perf. baseline for one data access scenario.

The initial results are promising in that we see 25%-33% throughput improvement o

[2017-11-15 23:39] anpete commented on #14
@mgravell Another thing to bear in mind: The goal here is be fast, and we expect to have to trade a some amount of usability to get there. The idea is that frameworks like Dapper and EF can use these very low level APIs, but they may not be great for general consumption.

[2017-11-15 23:43] mgravell commented on #14
Absolutely - and I'm 100% thinking about the API surface from the
perspective of what I'd need to do to build a library layer like dapper (or
EF) on top of it. It was exactly those considerations that motivated most
of the points.

On 15 Nov 2017 11:39 p.m., "Andrew Peters" <notifications@github.com> wrote:

[2017-11-20 22:32] sebastienros commented on #3
Here are my results on a controlled environment (Azure D3_v2 instances matching TechEmpower cloud environment). The baseline is ran using __pgbench__. Measures have been done on Windows Server 2016 DC. Load is generated by a separate machine on the same network.

Here I compared the current Nuget package with the Myget version (as of 11/17/2017)

![image](https://user-images.githubusercontent.com/

[2017-11-20 22:51] sebastienros commented on #5
Here are the result based on @anpete 's implementation of the protocol for the fortunes query.

Same environment as TE on cloud (Azure D3V2 machines). Database server scaled up to 8 cores as it was a limiting factor for the max perf. The new _driver_ is compared to npgsql in async mode with full cached strategy (see https://github.com/aspnet/DataAccessPerformance/issues/3 for explanation).

![imag

[2017-11-26 10:17] roji commented on #5
@anpete and @sebastienros, it's really great to see Peregrine and its associated benchmarks. It indeed looks like a solid baseline of where we might end up with a managed implementation, and I think it shows that looking at a native solution (e.g. libpq wrapper) or a radically different I/O approach may not be worthwhile.

Here are some notes after reviewing Peregrine. Some of these will point out

[2017-12-04 19:37] sebastienros commented on #5
@roji

As requested, here is and updated graph with your experimental version. This one is from Linux on the `async` mode. The improvements are impressive.

![image](https://user-images.githubusercontent.com/1165805/33572221-2aba2eac-d8e7-11e7-85c9-90983b15ad39.png)

A note however is that it seems to have issues with the `sync` mode, with a lot of variation and nearing 0 sometimes.

[2017-12-04 22:44] divega opened #18 "Understand impact of batching"
In general batching is considered good for performance because it can help reduce the number of roundtrips to the database, however understanding its impact across different database more fully would help us prioritize when to use it and the addition of APIs.

E.g. this would help inform the prioritization of https://github.com/aspnet/EntityFrameworkCore/issues/10465
 and https://github.com/dotnet

[2017-12-05 01:14] divega opened #19 "Meeting notes 12/4/2017"
Attendees: @ajcvickers @anpete @divega @geleems @sebastienros

- @sebastienros  gave us an update on the progress on Npgsql at https://github.com/aspnet/DataAccessPerformance/issues/5#issuecomment-349080515. The latest experiment shows very promising results.

- @sebastienros also gave us on update on the addition of MongoDB scenarios on https://github.com/aspnet/benchmarks/. The results are inlin

[2017-12-05 01:37] divega opened #20 "Add more dimensions to the data access performance mini-benchmarls"
Currently we have a limited set of repeatable benchmarks and we are using assumptions to extrapolate how our results compare with other results obtained from different environments. The more we add to our repeatable benchmarks the more confident we can be about the validity of results and progress.

Here are several dimension we talked about adding:

- [ ] Non-raw, e.g. EF Core and Dapper on our m

[2017-12-11 17:48] bgrainger commented on #7
I volunteer to help with https://github.com/mysql-net/MySqlConnector

[2017-12-11 17:54] sebastienros commented on #7
@bgrainger we already have the numbers for this one.

[2017-12-11 17:57] sebastienros commented on #7
@bgrainger Are you in touch with @divega already? We need your help to improve these numbers.

[2017-12-11 17:59] bgrainger commented on #7
Yep, I just saw this line: https://github.com/aspnet/DataAccessPerformance/blob/master/src/BenchmarkDb/BenchmarkDb.csproj#L15

We had an email conversation about six weeks ago; haven't communicated since then.

[2017-12-11 23:34] divega commented on #7
@bgrainger good to hear from you here. I will create a new issue specific to MySqlConnector and we can discuss there how to get started.

[2017-12-11 23:41] divega opened #21 "Investigate performance of MySqlConnector"
MySqlConnector is an ADO.NET provider for MySQL that is not based on the "official" MySQL provider. It has a few notable characteristics:

- It includes proper async support
- It targets .NET Standard 2.0
- It is the ADO.NET provider layer for the Pomelo EF Core provider for MySQL.
- @bgrainger has volunteered to focus on performance for it

Code and issue tracking lives at https://github.com/mysq

[2017-12-12 00:41] divega commented on #21
@bgrainger thanks for volunteering!

@sebastienros I am wondering how to best help @bgrainger get started. I think if we document the steps as we go, it can become a useful template for subsequent providers. This what I believe we will need:
1. Define performance baseline for MySQL, i.e. a identify a repeatable set of tests that anyone can use to estimate the maximum throughput on any given client

[2017-12-12 00:41] divega commented on #7
Created https://github.com/aspnet/DataAccessPerformance/issues/21 for MySqlConnector.

[2017-12-13 04:54] bgrainger commented on #21
1. Based on [these](https://www.percona.com/blog/2017/01/06/millions-queries-per-second-postgresql-and-mysql-peaceful-battle-at-modern-demanding-workloads/) [blog](https://www.percona.com/blog/2016/05/17/mysql-5-7-read-write-benchmarks/) [posts](https://www.mysql.com/why-mysql/benchmarks/), it seems like the standard benchmarking software for MySQL is [sysbench](https://github.com/akopytov/sysbenc

[2017-12-13 05:08] sebastienros commented on #21
Thanks, that's useful information and we can get the baseline from a Linux machine it's not an issue. I will run it, then give you the numbers of the benchmark with the latest MySQL connector version.

[2018-01-16 22:10] divega opened #22 "Meeting notes 1/16/2018"
Attendees: @roji (he joined us in person today!) @anpete, @ajcvickers, @sebastienros, @mikeharder, @divega)

Ideas of things that we can investigate in the short term

1. Profiling Npgsql and Peregrine and compare (@roji, @anpete and @sebastienros can start this)
2. ADO.NET facade around Peregrine (@anpete already started this in a branch)
3. Start stripping out features from Npgsql that add overh

[2018-01-23 00:23] divega opened #24 "Meeting notes 1/22/2018"
Attendees: @ajcvickers @anpete @halter73, @roji @sebastienros @divega

Today @halter73 gave us a great introduction on the history and future of optimizing Kestrel and how some of the same ideas could apply to data access.

A few topics we touched on:

- Usage of managed sockets
   - Important to reuse handlers (probably already happening with the awaitable we use in Peregrine)
   - Use new Memory

[2018-01-23 00:24] divega commented on #21
@sebastienros did you have a chance to look at this? It would be great if we can give @bgrainger something to work on :smile:

[2018-01-31 01:23] divega opened #25 "Meeting notes 1/30/2018"
Attendees: @roji @ajcvickers @anpete @sebastienros @divega @davidfowl @DamianEdwards @mikeharder

Npgsql improvements on Fortunes for physical hardware on Linux:

60,000 rps - Npgsql Latest released
77,000 rps - Npgsql New release
97,000 rps - Npgsql latest experimental changes
117,000 rps - Peregrine
119,000 rps - Undertow (Java)

TO-DO:
- Windows
- Cloud

Improvements to Npgsql:
Connection pool

[2018-02-06 01:29] sebastienros opened #26 "SqlClient is slow on Linux"
Performance results running https://github.com/aspnet/benchmarks/tree/dev/src/Benchmarks with Sql Server. The results matrix show the results of comparing NodeJs on Linux, Undertow on Linux, .NET Core on Linux and .NET Core on Windows.

- __This is a load test, not a raw access performance__, which is aimed at showing concurrency issues and bottleneck. So even if the client can be seen as fast, th

[2018-02-06 03:56] saurabh500 commented on #26
@sebastienros Will it be safe to assume that on physical SQL server the protocol enabled was only TCP and not Shared Memory or Named Pipe ?

[2018-02-06 03:57] saurabh500 commented on #26
The reason I ask is because I have seen dramatic difference in performance while using Shared Memory over TCP while communicating with physical SQL server on Windows. The SQL server and client on Linux only supports TCP.

[2018-02-06 03:59] saurabh500 commented on #26
@sebastienros  what was the driver used with Undertow? Was it MSSQL-JDBC?

[2018-02-06 10:29] saurabh500 commented on #26
@sebastienros I haven't been able to setup the ASP.Net Tech empower benchmarks. However I have been running the DataAccessPerformance repo's benchmarks.

I have upgraded the SqlClient package to 4.5.0-preview2-26202-05 from myget, which contains the performance fixes that we had targetted.

I see on Ubuntu 1604, the tps increase from 3100 tps to 4800 tps for sync
At the same time, I have seen the

[2018-02-06 19:00] sebastienros commented on #26
That might explain, I will look into this

[2018-02-06 19:01] sebastienros commented on #26
Undertow is using the JDBC driver
NodeJS is using Tedious 1.7.0

[2018-02-06 19:05] sebastienros commented on #26
The server is running in Linux, so it can only be TCP, for both the Windows and Linux clients, in all tests I ran.

[2018-02-06 20:15] saurabh500 commented on #26
@sebastienros Thanks for the replies. It will be good to see the results with new SqlClient. Good to know that the constant protocol assumption was true.

For the techempower benchmarks, I see that it is dependent on EF Core and has no direct reference to SqlClient. EF core is on a Dec 12 2017 build of SqlClient as well. So it may be good to get numbers from the lab with an updated SqlClient in EF

[2018-02-06 22:43] sebastienros commented on #26
I have a tool to dump all the assemblies that are used during the runs, and here is the one it's actually using from the windows machine:

`C:\Users\Administrator\AppData\Local\Temp\2\tmpB944.tmp\jbnoxvsc.bj4\benchmarks\src\Benchmarks\published\runtimes\win\lib\netstandard2.0\System.Data.SqlClient.dll System.Data.SqlClient.dll 4.3.1.0 4.6.26130.01 @BuiltBy: dlab-DDVSOWINAGE053 @SrcCode: https://gi

[2018-02-07 00:34] divega opened #27 "Meeting notes 2/6/2018"
Attendees: @roji @anpete @ajcvickers @DamianEdwards @sebastienros @saurabh500 @geleems @divega

Today went through several points on the results at https://github.com/aspnet/DataAccessPerformance/wiki/Latest-benchmark-figures-for-PostgreSQL and a conversation we had with @stephentoub on possible additional optimizations for Npgsql, Peregrine and SqlClient.

Here are some raw notes (@stephentoub, @

[2018-02-07 02:10] sebastienros commented on #26
On linux I was using `4.5.0-preview2-26130-01`, can you tell me from that number if it had the fix?

[2018-02-07 04:14] divega commented on #10
@saurabh500 @geleems this is relevant to the discussion we had today.

[2018-02-07 04:16] saurabh500 commented on #10
Thanks @divega

[2018-02-07 04:42] saurabh500 commented on #26
This is a slightly old package which doesn't have some fixes for async SqlDataReader. I recommend 4.5.0-preview2-26202-05

[2018-02-12 23:24] sebastienros commented on #26
Checked with a new package that was provided and it's fixed.

[2018-02-12 23:24] #26 closed

[2018-02-14 02:31] divega opened #28 "Meeting notes 2/13/2018"
Attendees: @ajcvickers @anpete @DamianEdwards @davidfowl @divega @roji @sebastienros

Current areas of investigation:
- Raw sockets benchmark: @roji is now writing some benchmarks that don't use a database as a way to try to rule out issues in Npgsql to explain the differences we are seeing with .NET vs. JDBC, Linux vs. Windows and sync vs. async. We wonder if other teams have done this already bu

[2018-02-14 02:46] divega opened #29 "Figure out how to run database-only tests on benchmark harness"
This will improve our ability to compare and analyze the performance of the database access stack or networking stack in a reproducible way without "noise" from the web implementation.

[2018-02-14 20:13] divega opened #30 "Sockets benchmarks"
@roji is now writing some benchmarks that don't actually use a database driver as a means to rule out low-level bottlenecks as the root cause for the differences we are seeing with .NET vs. JDBC, Linux vs. Windows and sync vs. async in [Npgsql results](https://github.com/aspnet/DataAccessPerformance/wiki/Latest-benchmark-figures-for-PostgreSQL). We wonder if other teams have done this already, but

[2018-02-16 18:28] sebastienros commented on #21
Just found about this comment. Will run it right away.
@bgrainger can you ping me on skype (sebastienros) so we can make faster progress? Latency matters ;)

[2018-02-24 18:18] sebastienros opened #31 "Discussion about Prepare"
See this comment change and comment for context

https://github.com/aspnet/benchmarks/commit/47946e46bfcbb6a53fe1f3f15117fab28ba03f87#commitcomment-27757823

[2018-02-28 14:17] divega opened #32 "Measure impact of allocation free async"
.NET Core 2.1 is going to bring new changes to `ValueTask<T>` that are going to enable it wrapping simple awaitable objects that can be reused across multiple async operations.

https://github.com/dotnet/corefx/issues/27445

This is a good fit for things like reading rows asynchronously from a DbDataReader (and all the layers above, including anything that implements `IAsyncEnumerable`).

This iss

[2018-02-28 14:30] roji commented on #32
I'll be back to doing perf work in a few days and will definitely take a look at this for Npgsql. Any idea whether this works only for .NET Core 2.1 or also for older targets?

[2018-02-28 15:37] divega commented on #32
Not sure if it would work with previous versions (we can ask Stepehn). Perhaps it would be ok to add public surface that exposes a `ValueTask<T>` but isn't optimized unless you are using 2.1 or greater.

On the other hand we have the restriction that DbDataReader and friends are part of .NET Standard 2.0, so we need to come up with some way to add APIs that doesn't change that. I am again consider

[2018-02-28 16:37] roji commented on #32
Reading [@stephentoub's comment](https://github.com/dotnet/corefx/issues/27445#issuecomment-368308590) it would seem this has also been added to the System.Threading.Tasks.Extensions nuget, so if I'm understanding correctly this is actually backwards compatible.

Even if we don't add/change any surface API, there's potential for reducing allocations internally in the driver. However, it's true tha

[2018-02-28 18:34] divega commented on #32
Sounds good!

I assume this is for prepared statements and those don't do any database I/O until the first read? Then yes, that sounds like a good usage of `ValueTask<T>`... unless you are returning a cached/pooled `DbDataReader` instances in which case you could make more sense to cache the entire completed `Task<DbDataReader>` instance directly.

Anyway, I tend to focus more on the more fine-gra

[2018-02-28 21:47] roji commented on #32
Well, regardless of whether it's prepared or not, DbCommand.ExecuteReader() has to both write to the server and read the first response. If we can reduce allocations in this process that would be great.

Unlike DbCommand.ExecuteReader(), which always does I/O (always yields), APIs like ReadAsync() and GetFieldValueAsync() don't. In fact, GetFieldValueAsync() absolutely never yields unless CommandB

[2018-03-01 01:46] divega commented on #32
Ah, I misread what you said before. I thought you were saying it can always return immediately, but you said the opposite. If the awaitables can be safely recycled, then it could be a good fit for ValueTask<T>, otherwise it probably isn't.

Yes, I know :smile: but maybe we care enough for the cases in which it yields, otherwise we can deprecate the API :smile:

I want to understand this one better

[2018-03-01 05:57] roji commented on #32
Yeah, we discussed this with @anpete at some point with regards to a slightly different question - is it safe to have a single instance of NpgsqlDataReader on a physical connection, and just return that whenever `ExecuteReader()` is called (remember that Npgsql doesn't support MARS - only one query can be executing at any gievn point). If we want to be very strict, then maybe we shouldn't do that,

[2018-03-01 05:57] roji commented on #32
Wow, sorry for the super-long response :)

[2018-03-01 08:10] divega commented on #32
I was wondering about this myself, and I have to say: I have never seen any normal code await anything more than once. I am actually optimistic that most developers will never see the difference. Perhaps the risk is being overestimated, but I guess we can wait until others try this and see how confusing it is.  For the case of `IAsyncEnumerable` the fact that the consuming pattern may be provided

[2018-03-01 08:12] davidfowl commented on #32
You can guard against that in the implementation.

[2018-03-01 10:03] roji commented on #32
Oh cool, I wasn't aware of this issue. I definitely think that `GetFieldValueAsync<T>` makes sense (and shouldn't be deprecated), and I also agree that an overload which returns a ValueTask make sense.

By the same logic, it might make sense to have a `ReadAsync()` which returns a non-generic ValueTask, to reduce allocations for the cases in which it yields.

I admit I don't remember any more... I

[2018-03-02 21:06] bgrainger commented on #32
Likewise, in MySqlConnector, `DbCommand.ExecuteReader` always does I/O and is unlikely to benefit from a "regular" `ValueTask` (compared to `Task<T>`). I'd need to do more investigation on reusing/pooling objects to say if there might be a benefit to using `IValueTaskSource`. (FWIW, a year ago I wrote some [experimental code](https://github.com/bgrainger/MySqlConnector/tree/rewrite-value-task) to

[2018-03-03 00:59] divega opened #33 "Add MySqlSharp variation to our benchmarks"
@bgrainger (from [MySqlConnector](https://github.com/mysql-net/MySqlConnector)) mentioned @neuecc has a lower-level data provider for MySQL called [MySqlSharp](https://github.com/neuecc/MySqlSharp) that focuses a lot on avoiding allocations.

We should consider adding a variation on our tests to see how MySqlSharp performs. Then we can brainstorm what we can do to get the best outcome for MySQL.

[2018-03-03 01:19] divega opened #34 "MySQL: Can providers leverage CLIENT_OPTIONAL_RESULTSET_METADATA"
As commented by @bgrainger on email:

Adding this to our list of issues here so that we can discuss it later with @bgrainger or other MySQL experts as possible optimizations. FWIW, @roji mentioned that this (the ability to execute queries without retrieving unnecessary column metadata) is one of the advantages of using prepared statements in PostgreSQL.

[2018-03-03 07:43] roji commented on #34
Just to provide more detail on @divega's words above: yes, one of the advantages of a good implementation of `DbCommand.Prepare()` is that all necessary resultset metadata (and anything else necessary for executing the query and interpreting its result) is exchanged at preparation time, making actual execution as slim as possible. In the PostgreSQL case this includes both the resultset metadata an

[2018-03-03 08:58] roji commented on #32
This is the same situation as in PostgreSQL. Note that the use of ValueTask to reduce *memory* overhead in this case isn't necessary... async methods automatically return a cached copy of Task<bool> if they complete synchronously: there's no advantage in returning ValueTask for that. [Npgsql has a fast-path for ReadAsync](https://github.com/npgsql/npgsql/blob/dev/src/Npgsql/NpgsqlDefaultDataReader

[2018-03-03 09:17] roji commented on #32
Note: filed https://github.com/dotnet/corefx/issues/27682 to track adding ValueTask-returning overloads to  ADO.NET.

[2018-03-03 09:32] davidfowl commented on #32
@roji and @bgrainger I'm super interested in pulling apart the networking layer of both clients to see what it looks like with all of the new primitives we are building (pipelines, span etc)

/cc @KrzysztofCwalina

[2018-03-03 13:06] roji commented on #32
@davidfowl and I'd be super super happy to do it with you... I've already thought of some places where spans could be great - although nothing earth-shattering at the moment (I'd be happy to be shown I'm wrong though). We also briefly discussed pipelines together a few weeks back and didn't necessary a huge benefit, although I admit I'm still unclear on what the tech does.

How would you to procee

[2018-03-03 17:26] bgrainger commented on #34
Prepared statements in MySQL use a (theoretically) more efficient binary format on the wire, but still send all the column metadata every time the prepared statement is executed: https://dev.mysql.com/doc/internals/en/binary-protocol-resultset.html

[2018-03-03 17:42] bgrainger commented on #32
@davidfowl What's the status of TLS for pipelines? (I've seen some tweets and merged PRs but I'm not sure if there's, say, a beta-quality NuGet package providing TLS.) MySqlConnector will need at least support for client SSL certificates to move 100% to pipelines (instead of having one path that uses `SslStream` for TLS connections and a different path that uses a pipe for non-TLS connections).

D

[2018-03-04 09:16] davidfowl commented on #32
@roji

Great! Next week is the MVP summit and we're still plowing through a bunch of API changes so I don't recommend you try to jump in using them right away. By preview2, the API churn should be over. I also don't think replacing the code you have with pipelines, span and memory will necessarily make things faster if you have already optimized code paths.

Pipelines themselves don't do much. Kes

[2018-03-04 10:17] roji commented on #32
Sounds great, ping me when it calms down and we'll take a look together.

I suspect that there are some difference between a database client model and a webserver model when it comes to buffering, here are a few notes about how it works in Npgsql:
* Database (physical) connections are considered very heavyweight and long-term objects (connection pooling makes sure they're reused).
* Each connectio

[2018-03-04 14:43] bgrainger commented on #32
MySqlConnector has a very similar model (with a few small differences, e.g., a per-connection read/write buffer, currently no user-exposed way to tune the buffer size, etc.).

There's currently a lot of inefficiency in reading data that I'm planning to fix with `Utf8Parser`: mysql-net/MySqlConnector#426

[2018-03-06 05:33] bgrainger commented on #34
I wrote a prototype implementation of client-side support for this feature (that supports the `RawDb.ReadSingleRow` use case): https://github.com/mysql-net/MySqlConnector/compare/e79e8193a645a68e63b088a0c4912cbaaf70fd21...bgrainger:optional-result-set-metadata?expand=1

The results are not encouraging (I suspect they are identical within experimental inaccuracy):

_ | Docker | | Windows | |
--- |

[2018-03-07 20:29] bgrainger commented on #21
I was curious to know how close MySqlConnector was to maximum throughput, so I learnt the [Registered I/O Networking Extensions](http://www.serverframework.com/asynchronousevents/2011/10/windows-8-registered-io-networking-extensions.html) for Winsock ("how hard could it be?") and wrote a (Windows-only) client that queries a MySQL Server as quickly as possible using native code and registered I/O.

[2018-03-20 15:38] roji opened #37 "Standardized ADO.NET provider benchmarks"
To facilitate comparison of provider performance and and especially to help zero in quickly on problematic areas, we could set up a standardized, cross-provider ADO.NET benchmarking suite.
This would be a set of BenchmarkDotNet benchmarks that would test common, standardized scenarios and provide a clear view of where each provider is on every operation.

This could be a published nuget that each

[2018-03-20 23:54] divega opened #38 "Meeting notes 3/20/2018"
Attendees: @anpete @ajcvickers @bgrainger DamianEdwards @sebastienros

(feel free to make edits or reply if you have any clarification)

# Status
## MySqlConnector
A few new optimization added to __MySqlConnector__ between 0.32 and 0.37 (thanks Bradley for joining the call!):
   - Fast path for single connection string in the pool
   - Opt out from ping to keep idle connections alive
   - Allocati

[2018-03-21 02:15] anpete commented on #38
FYI: the TE folks have confirmed that database request de-duping would violate the spirit of the test ¯\_(ツ)_/¯

From: Diego Vega <notifications@github.com>
Sent: Tuesday, March 20, 2018 4:55 PM
To: aspnet/DataAccessPerformance <DataAccessPerformance@noreply.github.com>
Cc: Andrew Peters <anpete@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [aspnet/DataAccessPerformance] Meeting no

[2018-03-21 06:46] roji commented on #38
Hmm... Do you guys have a plan for investigating this? Since the numbers above are for Linux, that means that there's an additional 15-20% speedup that can be done... If we manage to get this fixed we could land in an even better place, so I'm guessing this should be pretty high priority?

There's also considerable potential here to optimize things for everyone using dotnet on Linux, not just data

[2018-03-21 06:49] roji opened #39 "Investigate 15-20% performance gap between Linux and Windows"
For some reason Windows performs 15-20% better on benchmarks. Finding the cause of this could give another very significant boost to our TE results, and also help improve general dotnet perf on Linux (not just data).

A good place to start could be #30 - a pure socket benchmark comparing the two platforms.

[2018-03-21 06:49] roji commented on #38
PS opened #39 to track and discuss the 15-20% Windows/Linux gap.

[2018-03-21 09:34] davidfowl commented on #39
Its slower 😬

[2018-03-21 10:10] roji commented on #39
![image](https://user-images.githubusercontent.com/1862641/37704148-c6198132-2d00-11e8-86aa-41b3c330849b.png)

[2018-03-21 11:54] niemyjski commented on #38
This is amazing! Keep up the good work!

[2018-03-21 11:57] niemyjski commented on #37
I think this would be really good to have. Would this cover more common usages of how providers are used as well? I think one scenario that should be looked at is at using DataTables (filling / consuming). I've seen a ton of legacy code over the years that uses data tables.

[2018-03-21 12:13] roji commented on #37
@niemyjski DataTables aren't really part of the ADO.NET provider - they're a layer above it, utilizing the provider underneath a bit like a loosely-typed micro-O/RM. So I don't think it would make much sense to benchmark that...

[2018-03-21 15:17] tmds commented on #38
@divega The Sockets numbers are higher than Libuv, is that due to comparing .NET Core 2.1 with .NET Core 2.0? Does .NET Core 2.1 Libuv perform even better?

[2018-03-21 17:06] davidfowl commented on #39
I mean .NET's implementation not the OS 😄

[2018-03-21 17:54] divega commented on #38
@tmds I heard from @DamianEdwards and @sebastienros that sockets is actually faster in this scenario, but switching to sockets doesn't explain the whole delta. There have been various other improvements in .NET Core and ASP.NET Core 2.1.

[2018-03-21 18:39] tmds commented on #38
That's surprising and interesting! My expectation for this test is libuv/sockets should perform very similar and libuv should be on top. Can you share the numbers for libuv 2.1?

[2018-03-21 21:14] roji commented on #38
Just to make sure everyone's on the same page, Npgsql itself is of course always on managed sockets, the libuv vs. sockets affects only the web side.

[2018-03-21 21:25] tmds commented on #38
Exactly. That is why I expect similar results since most of the work is the same. My expectation libuv performs a bit better comes from it performing better on all other benchmarks.

[2018-03-21 23:07] divega commented on #38
@sebastienros can you?

[2018-03-21 23:10] sebastienros commented on #38
No, I obviously didn't do that on purpose ;) because I ran them when I built the tables and the differences where about noise level. And also, I chose Libuv for 2.0 and Socket for 2.1 because this is what customers are actually on (decided by default on WebHostBuilder).

[2018-03-21 23:10] sebastienros commented on #38
If you want to see the differences between Libuv and Sockets on common scenarios I can refer you to these charts: https://aka.ms/aspnet/benchmarks

[2018-03-22 07:59] tmds commented on #38
ok, that matches with my expectations.

A large part of this probably is due to Npgsql using managed sockets. If it could leverage the Kestrel Transport, then for Libuv we'd see better performance.

[2018-03-22 08:18] roji commented on #38
I'm not sure why that should be... Npgsql uses managed sockets on both Windows and Linux, they should be on par unless something's off in the .NET Linux socket implementation... Or it could be somewhere completely different in the runtime that's less optimized on Linux - we keep assuming it's socket-related but that remains to be shown. I'm also told that with the latest 2.1 managed socket perform

[2018-03-22 08:39] tmds commented on #38
If you look at performance of Json for Libuv vs Sockets here https://aka.ms/aspnet/benchmarks.
You see 463.160 vs 373.789. So +24%.
For plaintext the difference is much less, that is because plaintext is pipelined http. That is: only 1/16 request actually uses the Transport.

To do this, you need some 'Socket' type that gets handled by the Libuv thread. The Transport would need to give you a way t

[2018-03-22 08:58] roji commented on #38
You see 463.160 vs 373.789. So +24%.

I guess I'm confused, I was under the impression that in 2.1 managed sockets got to a point where it was very similar to libuv.

I know this can be done, but does it really make sense for a database driver to open a libuv thread+loop like this? I'm not sure this is something that should be forced upon users (especially if the gains are small). The programming

[2018-03-22 09:20] tmds commented on #38
For pipelined and fortunes performance is similar (on Linux).

![benchmark](https://pbs.twimg.com/media/CGibKKAU8AAb0rI.jpg)

Indeed, it wouldn't make sense for the database driver to do this. More like: when running on Kestrel, Kestrel could expose an ITcpConnect feature that the database driver could consume.
Even then, it would be a lot of work for Kestrel to support this and also for database

[2018-03-22 09:41] roji commented on #38
That's definitely possible, although at least in theory both are layers above OS primitives. libuv is probably lower-level than managed sockets (which has to be cross-platform) which could explain the difference.

But the big question for me is again, not sockets vs. libuv (which seem to be very similar in fortunes), but rather Windows vs. Linux where we may have an opportunity for another 15-20%

[2018-03-22 09:49] tmds commented on #38
The cause is that the Socket API was designed for Windows and then made cross-platform. corefx has an SocketAsyncContext for non-Windows and I think this does things which are all handled by the Windows kernel. That said, I also hope we see more improvements that close the gap further.

[2018-05-02 17:08] divega opened #41 "Investigate MongoDB.Driver performance gap"
In our own testing we are seeing that the MongoDB.Driver for .NET is significantly slower than the drivers on other platforms. Creating this issue to track the reason down and engage with MongoDB.Driver owners.

[2018-05-22 08:09] dario-l commented on #18
Proper multi-statement per network packet is a good choice. We are using [System.Data.SqlClient.SqlCommandSet](https://github.com/Microsoft/referencesource/blob/master/System.Data/System/Data/SqlClient/SqlCommandSet.cs) but it is **internal**. Thanks to [NHibernate](https://github.com/nhibernate/nhibernate-core/blob/master/src/NHibernate/AdoNet/SqlClientSqlCommandSet.cs) we are using exactly [this

[2018-05-31 23:20] divega opened #42 "Meeting notes 5/31/2018"
Attendees: @ajcvickers, @DamianEdwards, @divega, @sebastienros

We discussed today the next steps we can focus on:

### Low hanging fruit
* Platform versions for EF Core and Dapper: @sebastienros  to adapt @benaadams versions
* Can we do better on Data Update, single and multiple query tests? @sebastienros can take a look. We wonder if @benaadams would be interested in these.
* RavenDB : There is

[2018-06-01 00:09] benaadams commented on #42
[TE] Add SQL Server (on linux) as a database type https://github.com/TechEmpower/FrameworkBenchmarks/pull/3807

[2018-06-01 03:10] bgrainger commented on #42
## Pipelining in MySQL

### Background

The MySQL protocol is packet-oriented ([details](https://dev.mysql.com/doc/internals/en/mysql-packet.html)). (Note: multiple MySQL packets may be contained in a single TCP packet if they're small enough.) Each MySQL packet (up to 16MiB) has a one-byte sequence number. Client/server interactions are grouped into "conversations" where the first packet has sequ

[2018-06-01 04:38] benaadams commented on #42
As the authentication is the same, could connection pooling work to some degree down the same connection for multiplexing? (e.g. use less "physical connections" than the total "active connections" for fuller TCP packets and less chatter)

[code]

[2018-06-01 04:42] sebastienros commented on #42
The current model that is suggested by ADO.NET is to pool actual connections and associate them with a single ADO.NET connection. What other "fast" framework do is open a specific number of database connections, and not associate them with the ADO.NET connection itself. But when a command is sent, the ADO.NET connection will look for any currently open connection, or one by affinity, and then use

[2018-06-01 07:40] benaadams commented on #42
Base pooling around data stream rather than ADO connection; like?
[code]
Makes sense...

[2018-06-01 13:56] bgrainger commented on #42
I think this is theoretically possible, but haven't ever tested it. Presumably each `MySqlDataReader` would have to know its "order" in the queue (according to the sequence in which requests were sent) and if they were read "out of order" (e.g., on different threads) then it would pull responses off the socket and buffer them on the `MySqlDataReader` that they were for. Then you'd need to add lock

[2018-06-01 15:11] sebastienros commented on #42
I was suggesting the opposite, a single physical connection shared by multiple ado.net ones.

[2018-06-01 15:34] bgrainger commented on #42
It still would cause problems if two non-pipeline-aware clients both execute `CREATE TEMPORARY TABLE temp` on different `MySqlConnection` objects that share the same physical server session.

[2018-06-01 18:10] roji commented on #42
A few comments from me...

First, the batching vs. pipelining distinction @bgrainger made above isn't very important IMHO. [PostgreSQL does have two sub-protocols - simple and extended](). The simple protocol has a single wire message (called Query), which may contain multiple SQL statements separated by semicolons, and which PostgreSQL parses on its end (this is what @bgrainger calls "batching").

[2018-06-01 18:21] bgrainger commented on #42
Oh, that reminds me... MySQL _also_ supports a binary protocol, which you have to use if you want to use prepared statements (which are not currently supported in MySqlConnector). Like PG, it doesn't support multiple statements, so MySqlConnector would have to parse the SQL and break them up. It has a three-phase Bind/Execute/Reset model.

Implementing prepared statements would provide an estimate

[2018-06-01 18:34] roji commented on #42
Huh, interesting that the protocols are so similar in that way... I guess both started out from a simple text-based protocol and later added the advanced features as a new sub-protocol...

Implementing preparation definitely sounds like a high priority perf gain, you're welcome to help yourself to Npgsql's query parser if it can help you out.

[2018-06-01 22:19] benaadams commented on #42
Interesting... as the final command in data updates is 20 update statements separated by semicolons. What would the best approach be to send this as a batch of commands? (From user api side)

[2018-06-01 22:27] benaadams commented on #42
Querys (20) would be such a test; also data updates (as that is queries + updates); and spawning them on multiple tasks. I tried it with Mono, the only safe way I saw at the time was to use multiple connections for the concurrency - however multiplying up the connection count made it very unhappy so I had to back it out https://github.com/TechEmpower/FrameworkBenchmarks/pull/3784/files

[2018-06-01 22:27] roji commented on #42
As things currently stand, you would pack them all into a single command's CommandText and execute. Npgsql splits them and send via separate protocol messages, which potentially fit into a single outgoing TCP packet, if the updates are small enough. https://github.com/dotnet/corefx/issues/3688 tracks adding a better API for batching which would possibly obviate client-side parsing.

In addition, p

[2018-06-01 22:29] roji commented on #42
I'll take a look at Querys and the other db benchmarks this weekend to see what can be improved

[2018-06-01 22:44] benaadams commented on #42
So that would be allowed by the updates part of data updates; however would be disallowed by the queries part as the queries need to be sent by the app as non-batched (though driver is allowed to then batch them)

However you could; validly do overlapping queries e.g.
[code]

[2018-06-01 22:47] benaadams commented on #42
Does it split the string and create more strings? Or just serialize in chunks to the wire?

[2018-06-02 06:19] roji commented on #42
If I understand you correctly, you're saying that this is disallowed:

[code]

While the following is allowed:

[code]

If so, that seems a bit ridiculous - they're equivalent in almost any way, at least perf-wise (again, assuming a single producer, no multiplexing i.e. handling a single HTTP request)... The only user-facing difference would seem to be error handling (i.e. does the 2nd query get e

[2018-06-02 06:30] bgrainger commented on #42
https://www.techempower.com/benchmarks/#section=code

“Test type 3: Multiple database queries”, point 6:

“General Requirements”, point 7:

[2018-06-02 08:48] roji commented on #42
@bgrainger hmm, thanks. However, I'm not sure that actually disallows `SELECT 1; SELECT 2`.

I think it can be claimed that `SELECT 1; SELECT 2` isn't actually "multiple SELECTs within a single complex *query*": it's two different queries inside a single command (or batch); `SELECT 1; SELECT 2` is nothing more than "piplining of network traffic between the application and database".

The restricti

[2018-06-02 13:49] bgrainger commented on #42
I agree that the rules are a little ambiguous. If they wanted separate DB queries (and network roundtrips), it would be nice if there were a clear data dependency in the tests, i.e., the second query depended on the results of executing the first query and thus couldn't be pipelined.

[2018-06-02 14:07] bgrainger commented on #42
FWIW, I just looked at the source code of some of the fastest MySQL entrants (in the Multiple Queries and Data Updates categories); AFAICT each of them is executing a separate `SELECT * FROM World WHERE id = ?` command, repeatedly in a loop. These entrants all appear to be synchronous so it seems unlikely to me that an ORM layer (I did not look at how that is implemented for each framework) is com

[2018-06-02 17:10] benaadams commented on #42
Nah, wasn't the point I was making. The second example you gave is more or less the same as doing it in a loop (as they are sync queries)

So the first is disallowed because it is directly batching in application code, and that's only allowed as a network optimisation by the driver:

What I was suggesting is using async; stashing aside the `Task`, so it could make requests concurrently (i.e. not a

[2018-06-02 18:05] roji commented on #42
Even in async, if we compare this:

[code]

with this:

[code]

Once again, at the network level the above two fragments produce almost the exact same thing: a single roundtrip sending two queries, in almost identical wire protocol messages - there's no  advantage in the 2nd fragment compared to the first one. This is also why I can't really see any sane reason for the 1st fragment to be disallowe

[2018-06-02 18:10] roji commented on #42
One last comment, to reiterate on @bgrainger's earlier comment. If we look at this:

[code]

When does it make sense for task2 to complete? If it completes as soon as we're starting to receive the 2nd resultset (which is what the ADO.NET API suggests), then task2 can only complete after the 1st resultset has been consumed. In other words, the `Task.WhenAny()` above is totally useless, since we kno

[2018-06-02 18:29] benaadams commented on #42
For the sync version
[code]
The statement `var reader2 = cmd.ExecuteReader2();` cannot be run until the the preceding one is complete.

Whereas for the async version it can.

Which is the point. Batching the queries as one command in the app as `SELECT 1; SELECT 2` allows any framework to do it; whereas requiring them as separate statements tests a frameworks ability to do concurrency; which not a

[2018-06-02 18:44] benaadams commented on #42
Whether its parallel, concurrent, pipelined or serial sends (request->response->request) is an implementation detail of how its achieved.

[2018-06-02 19:00] benaadams commented on #42
Hmm... reading the clarification: https://groups.google.com/forum/#!msg/framework-benchmarks/A78HrYsz4AQ/_zneyvo2CwAJ

multiple queries do NOT get batched together in such a way that the
batching itself affects query semantics at all, especially with
respect to failed queries.  For example, what would happen if you
changed that Npgsql command to "SELECT 1; SELECT foo bar; SELECT 2",
where "foo bar

[2018-06-02 19:37] roji commented on #42
@benaadams with the current behavior of Npgsql, if a statement in the middle of a batch fails then the rest of the statements are skipped by PostgreSQL. This is achieved via a feature of the PostgreSQL protocol, whereby the moment a protocol message generates an error, PostgreSQL will skip all subsequent messages until it sees a Sync message. So Npgsql will send `SELECT 1; SELECT 2` as Parse1/Bind

[2018-06-02 20:47] roji commented on #42
That's exactly what I have a hard time accepting. So if Npgsql happened to implement its batching by sending Parse1/Bind1/Describe1/Execute1/*Sync*/Parse1/Bind1/Describe1/Execute1/Sync (note that additional Sync in the middle), then it would be eligible for using this optimizations in the benchmarks? How does that make sense, who benefits from this seemingly arbitrary exclusion? Would it make sens

[2018-06-04 16:27] roji commented on #42
I think we can leave the TechEmpower eligibility questions to [the thread where Io posted](https://groups.google.com/d/msg/framework-benchmarks/A78HrYsz4AQ/OLW8TLrcAQAJ), but it's still interesting to discuss batching/pipelining/multiplexing here...

I'm specifically interested in what people think about the impact of switching to buffering of resultsets as a result of multiplexing and possibly so

[2018-06-04 17:35] bgrainger commented on #42
Most of my (micro) ORM experience is with Dapper and they [buffer by default](https://github.com/StackExchange/Dapper/#buffered-vs-unbuffered-readers).

[2018-07-10 09:11] cincuranet commented on #7
I created PR #44 for Firebird.

[2018-08-29 03:14] bgrainger opened #49 "Help understanding poor "Data updates" performance"
The .NET Core entrants have very poor performance on the TechEmpower "Data updates" benchmark. For example, in the [latest nightly run (filtered to MySQL)](https://www.techempower.com/benchmarks/#section=test&runid=9d5522a6-2917-467a-9d7a-8c0f6a8ed790&hw=ph&test=update&d=e5), `aspcore-ado-my` (which is normally the fastest .NET MySQL entrant) is the second-slowest .NET result, and only 39.7% the s

[2018-08-31 15:30] sebastienros commented on #49
I haven't worked at all on this scenario so far, but that's on my priorities list. Last time Ben tried to make it fast, it actually didn't help, and the results where so unexpected we just submitted the changes without knowing what results we would get. We know it's the next major thing to fix. And not just for mysql.

[2019-04-17 08:26] Wraith2 opened #54 "DoWorkAsync uses sync methods"
In the AdoDriver DoSyncWork function the connection and reader are awaited but value reads still use sync Get* methods.
https://github.com/aspnet/DataAccessPerformance/blob/a3bf85d4c6d2d7a20e6dcfe4e35a3e17ab6f393a/src/BenchmarkDb/AdoDriver.cs#L120-L129

Is this a specific choice, and if so what is the reasoning?

Also, is there a reason that there are no mssql benches in the techempower benchmarks

[2019-04-17 08:34] divega commented on #54
When SequentialAccess behavior **is not** used for ExecuteReader, ReadAsync guarantees that it will only complete once enough data has been read from the network that the complete row is in memory, i.e. that any column value reads will be completed synchronously. In other words, the async versions of the methods to read column values are only there for SequentialAccess mode.

[2019-04-17 08:55] Wraith2 commented on #54
That's true for SqlClient but is it something that all providers adhere to? Without knowing the internals of a particular ado library i would expect users to take either a fully sync or async path when writing the code. Or are we just looking for an optimized case in this bench, in which case we should be using Sequential behaviour.

[2019-04-17 09:15] roji commented on #54
@Wraith2 like everywhere else with ADO.NET, there's no absolute guarantee here for specific provider behavior. However, as @divega wrote, the ability to read the columns of a row out of order (when not using SequentialAccess) points to the expectation of row buffering in memory, in which case async column access is meaningless (because it will always return synchronously). The alternative would be

[2019-04-17 09:52] Wraith2 commented on #54
The intent being to get good perf in common scenarios is the guidance i was looking for i think.

From my reading of how sequential works in SqlClient it means that you will not keep an array of SqlBuffer objects in memory containing values which have been read past only the instance required for the current column. If you need data which isn't in the current packet then network io will be require

[2019-04-17 10:10] Lux44 commented on #54
[#3786](https://github.com/TechEmpower/FrameworkBenchmarks/issues/3786)

[2019-04-17 10:15] Wraith2 commented on #54
Would it have to be the linux versions? because the linux performance kinda sucks in comparison to native, https://github.com/dotnet/corefx/pull/35363

[2019-04-17 10:51] roji commented on #54
That more or less aligns with how Npgsql works (except there's no SqlBuffer objects there, just a single byte array that gets decoded upon user request). This notably means that it's the user's responsibility to always read columns in the order in which they were requested, and it's not possible to read the same column twice.

(On an unrelated note, it seems pretty vital for perf to be able to buf

[2019-04-17 11:37] Wraith2 commented on #54
I think it was done this way to even in non-sequential mode you never have to go backwards because there's no guarentee that it won't require a previous packet. Even if your row spans 4 packets and you're on the last one you can still get to the decoded form of the data for previous columns that were in previous packets via the SqlBuffer. Arguably you shouldn't do that but people do strange things

[2019-04-17 11:37] #54 closed

[2019-04-17 16:07] roji commented on #54
I suspect we have a bit of terminology mismatch: when I wrote packet I meant "TCP packet" - I'm guessing that your packets are TDS-level. PostgreSQL has no concept of a packet in the protocol. It does have messages (and each row is represented by a single message), but there can be multiple messages in a TCP packet, just like a single message can be made up of multiple packets.

I *think* I unders

[2019-04-17 17:30] Wraith2 commented on #54
Everything is decoded as it is encountered so you don't really have a choice but to keep the decoded form. It makes sense in the context of the underlying machinery. I'm not sure if i'd choose to do it differently or that there aren't better ways to do it. It's just what I see in the code.

Even if an async task returns synchronously you have the overhead of a task wrapping the value. Those are no

[2019-04-17 17:44] roji commented on #54
I'm guessing (or hoping..) you're referring to the current architecture of SqlClient, as opposed to any hard constraint of the protocol... In any case, as long as those SqlBuffer instances are pooled I guess it's not so bad...

At least internally in the provider, the use of ValueTask can mitigate that. For the surface API (`DbDataReader.GetFieldValueAsync<T>()`), we have https://github.com/dotnet

[2019-04-17 17:56] Wraith2 commented on #54
They aren't, that's something on my list to investigate but pools are complex and I've already broken the library with one so I'll take that slow. 😁

[2019-04-17 17:58] roji commented on #54
Sounds very wise :)